<link rel="icon" type="image/png" href="{{ '/assets/images/favicons/favicon-96x96.png?v=1.0' | relative_url }}" sizes="96x96" />
<link rel="shortcut icon" href="{{ '/assets/images/favicons/favicon.ico?v=1.0' | relative_url }}" />
<link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicons/favicon.svg?v=1.0' | relative_url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicons/apple-touch-icon.png?v=1.0' | relative_url }}" />
<meta name="apple-mobile-web-app-title" content="Emocean" />
<link rel="manifest" href="{{ '/assets/images/favicons/site.webmanifest?v=1.0' | relative_url }}" />
